.card {
    height: 10rem;
    width: 10rem;
    border-radius: 1.5rem;
    border: 0.4rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.card_front {
    background-color: salmon;
    cursor: pointer;
}

.card_back {
    background-color: rgb(255, 190, 133);
}
