.card {
    height: 10rem;
    width: 10rem;
    border-radius: 1.5rem;
    border: 0.4rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    transition: 200ms ease-in;
}

.card:hover {
    transform: scale(1.05);
}

.card_front {
    background-color: rgb(255, 181, 172);
    cursor: pointer;
}

.card_back {
    background-color: rgb(255, 206, 163);
}
