.top {
    height: 42vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    margin: auto;
}

.bottom {
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.resetBtn {
    margin: 0 auto;
    cursor: pointer;
    width: 13rem;
    height: 4rem;
    background: rgb(192, 170, 255);
    background: linear-gradient(
        82deg,
        rgba(192, 170, 255, 1) 0%,
        rgba(255, 145, 253, 1) 100%
    );
    border-radius: 1.5rem;
    border: 0.4rem solid black;
    font-size: 2rem;
    transition: 200ms ease-in;
}

.resetBtn:hover {
    transform: scale(1.1);
}
